[Desktop Entry]
Name=Bear
Comment=A Stremio client built for adventure
Exec=bear %U
Icon=dev.twosa.bear.beta
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;
MimeType=x-scheme-handler/bear-beta;x-scheme-handler/stremio;
StartupNotify=true
StartupWMClass=dev.twosa.bear.beta
